* {
    /* border: 2px solid red; */
}

body {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    margin: 0;
    padding: 0;
}

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #1f2937;
    color: white;
}

.header-container > p {
    font-size: 24px;
    color: #f9faf8;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 10px;
    padding: 0;
    margin: 0;
    align-items: center;
    font-size: 18px;
    color: #f9faf8;
}

a {
    text-decoration: none;
    color: white;
}