/* universal styles */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    color: #999999;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 10px;
}

/* header styles */

.header{
    border-bottom: 1px solid #c8c9c82e;

}

.header > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .container p {
    font-size: 30px;
}

ul {
    list-style-type: none;
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.header .container ul li a {
    text-decoration: none;
    color: #999999;
}

/* hero styles*/

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.hero img {
    width: 500px;
    height: auto;
}

.main-hero-text {
    width: 500px;
}

.main-hero-text h1 {
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 20px;
}

.main-hero-text p {
    font-size: 18px;
    margin-bottom: 20px;
}

.main-hero-text button {
    padding: 5px 15px;
    border-radius: 3px;
}

/* moon phases styles */

.moon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 40px;
    margin-bottom: 40px;
}

.moon-container > h2 {
    margin-bottom: 20px;
    font-size: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.moon-phases {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.moon {
    height: 350px;
    width: 250px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 2px solid #c8c9c82e;
    box-shadow: 0px 3px 2px rgba(24, 23, 23, 0.606);
}

.moon img {
    width: 200px;
    height: auto;
}

/* quote styles */

.quote {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
    margin-bottom: 40px;
    height: 200px;
}

.quote .credit {
    align-self: center;
}

/* main-container-4 styles */

.call-to-action {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    border: 1px solid rgba(172, 169, 169, 0.455);
    border-radius: 5px;
    margin-top: 40px;
    margin-bottom: 40px;
    height: 100px;
}

.explore-button {
    padding: 5px 15px;
}

/* footer sytles */

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4a4a4a1a;
    border-top: 1px solid #c8c9c82e;
    height: 60px;
}