/* universal styles */

* {
    border: 2px solid red;
}

body {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    margin: 0;
    padding: 0;
}

/* header styles */

.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
}

.header-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1100px;
    flex: auto;
    color: white;
}

.header-content > p {
    font-size: 24px;
    color: #f9faf8;
}

ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0;
    margin: 0;
    font-size: 18px;
    color: #f9faf8;
}

.header-content ul li a {
    text-decoration: none;
    color: white;
}