/* universal styles */

* {
    border: 2px solid red;
}

body {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
}

/* header styles */

.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.header-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1100px;
    flex: auto;
    color: white;
}

.header-content > p {
    font-size: 24px;
    color: #f9faf8;
}

ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0;
    margin: 0;
    font-size: 18px;
    color: #f9faf8;
}

.header-content ul li a {
    text-decoration: none;
    color: white;
}

/* main container styles */

.main-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* main container 1 styles*/

.main-container-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    padding: 100px 0;
}

.main-subcontainer-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1100px;
    flex: auto;
    gap: 10px;
    border: 3px solid rgba(255, 255, 255, 0.161);
    border-radius: 10px;
    padding-bottom: 30px;
    padding-left: 30px;
}

.main-hero-text h1 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.main-hero-text p {
    font-size: 18px;
    color: #e5e7eb;
}

.main-hero-text button {
    padding: 10px 20px;
}

.main-subcontainer-1 img {
    width: 500px;
    height: auto;
}

/* main container 2 styles */

.main-container-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    flex-wrap: wrap;
    height: 900px;
}

.main-subcontainer-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    flex-wrap: wrap;
}

.moon-phases {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    flex: auto;
    flex-grow: 1;
    margin: 0 auto;
}

.moon {
    height: 350px;
    width: 250px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0px 3px 5px 5px #98969617;
}

.moon img {
    width: 250px;
    height: auto;
}

/* main container 3 styles */

.main-container-3 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-subcontainer-3 p {
    align-self: flex-end;
}

.main-subcontainer-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}