/* universal styles */

body {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    margin: 0;
    padding: 0;
    background-color: black;
    color: #999999;
}

/* header styles */

.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #c8c9c82e;
    background-color: #4a4a4a1a;
}

.header-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    flex: auto;
}

.header-content > p {
    font-size: 30px;
    width: 661.111;
}

ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0;
    margin: 0;
    font-size: 18px;
}

.header-content ul li a {
    text-decoration: none;
    color: #999999;
}

/* main container styles */

.main-container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* main container 1 styles*/

.main-container-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
}

.main-subcontainer-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    max-width: 1500px;
    flex: auto;
    gap: 10px;
    border-radius: 10px;
    padding: 10px;
    padding-bottom: 40px;
}

.main-hero-text {
    margin-left: 150px;
}

.main-hero-text h1 {
    font-size: 48px;
    font-weight: 900;
}

.main-hero-text p {
    font-size: 18px;
}

.main-hero-text button {
    padding: 10px 20px;
}

.main-subcontainer-1 img {
    width: 500px;
    height: auto;
}

/* main container 2 styles */

.main-container-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px 0;
    max-width: 1200px;
    flex-wrap: wrap;
    min-height: 1200px;
}

.main-subcontainer-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 1500px;
    flex-wrap: wrap;
    min-height: 1150px;
}

.main-subcontainer-2 > h2 {
    flex-shrink: 1;
}

.moon-phases {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    flex: auto;
    flex-grow: 1;
    align-content: space-around;
}

.moon {
    height: 350px;
    width: 250px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 3px solid #c8c9c82e;
    padding: 10px;
}

.moon img {
    width: 250px;
    height: auto;
}

/* main container 3 styles */

.main-container-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
}

.main-subcontainer-3 p {
    align-self: flex-end;
}

.main-subcontainer-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* main-container-4 styles */

.main-container-4 {
    display: flex;
    justify-content: center;
    align-items: center;

}

.main-subcontainer-4 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    border: 3px solid rgba(172, 169, 169, 0.455);
    border-radius: 5px;
    padding: 0 20px;
    margin: 30px 0;
}

/* footer sytles */

.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4a4a4a1a;
    border-top: 1px solid #c8c9c82e;
}